.w-18 {
    width: 18%;
}
span{
    font-size: 1.5rem;
}

@media screen and (max-width :990px){
    .col-calc {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width :960px){
    .col-calc {
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width :576px){
    .col-calc {
        width: 50%;
        margin: auto;
    }
}